{% extends 'base.html' %}
{% load custom %}
{% block page-container %}
    <div class="wrap-left">
        <form method="post" enctype="multipart/form-data">{% csrf_token %}
            <!--
            符文本编辑器    ueditor  百度   ckeditir  国外付费
             -->
            {{ article_from }}

            <input type="submit" class="btn btn-success pull-right " value="发布文章">
        </form>

        <hr/>
        <form method="post" enctype="multipart/form-data"  action="{% url 'file_upload' %}">
            <input name='filename' type="file" /> {% csrf_token %}
            <input type="submit" value="上传文件" />{% csrf_token %}
        </form>

    </div>

    <div class="wrap-right">
     sdfsdf
    </div>
    <div class="clear-both"></div>

{% endblock %}

{% block bottom-js %}

<script src="/static/plugins/ckeditor/ckeditor.js"></script>
<script type="text/javascript">
    CKEDITOR.replace(id ='id_content');

</script>
{% endblock %}